@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300;500&display=swap');

/* Font styles */

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

body {
    font-family: 'Lora', serif;
}

a,
a:hover {
    text-decoration: none;
    color: #000000;
}

/* Icons */

.my-icon {
    font-size: 1.5rem !important;
}

/* Other */

.main-content {
    padding-top: 172px;
}

/* Media Queries */

@media (max-width: 767px){
    .logo {
        font-size: 2rem !important;
    }

    .main-content {
        padding-top: 86px;
    }
}

@media (max-width: 500px){
    .logo {
        font-size: 1.5rem !important;
    }

    .my-icon {
        font-size: 1rem !important;
    }

    .main-content {
        padding-top: 78px;
    }
}