<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <title>Mariana Pereira</title>
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="170">

        <header class="container-fluid fixed-top p-0">
            <div class="row no-gutters my-4">
                <div class="col-2 d-md-none"> <!-- Toggled navbar -->
                    <nav class="navbar navbar-expand-md p-0 ml-3">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-small" aria-controls="nav-small" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars my-icon"></i></span>
                        </button>
                        <div class="collapse navbar-collapse w-100" id="nav-small">
                            <ul class="navbar-nav mx-auto w-100">
                                <li class="nav-item mr-4">
                                    <a href="#aboutme"><h5 class="heading">About me</h5></a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a href="#skills"><h5 class="heading">Skills</h5></a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a href="#edu"><h5 class="heading">Education & Work</h5></a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a href="#port"><h5 class="heading">Portfolio</h5></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-5 col-md-4 offset-md-4 text-md-center"> <!-- Logo -->
                    <a href="#"><h1 class="logo m-0">Mariana</h1></a>
                </div>
                <div class="col-5 col-md-4 text-right text-md-center"> <!-- Contact links -->
                    <ul class="list-inline list-unstyled mr-3 mr-md-0 mb-0">
                        <li class="list-inline-item mr-2 mr-md-4">
                            <a href="mailto:mariana.c.pereira.23@hotmail.com" target="_blank"><i class="fas fa-envelope my-icon"></i></a>
                        </li>
                        <li class="list-inline-item mr-2 mr-md-4">
                            <a href="https://www.linkedin.com/in/mariana-pereira-5b3851156/" target="_blank"><i class="fab fa-linkedin-in my-icon"></i></a>
                        </li>
                        <li class="list-inline-item mr-2 mr-md-4">
                            <a href="https://github.com/MarianaPereira23" target="_blank"><i class="fab fa-github my-icon"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="../static/media/MarianaPereiraCV.pdf" target="_blank"><i class="fas fa-file-download my-icon"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row no-gutters d-none d-md-block mb-4 justify-content-center"> <!-- Navbar on bigger screens -->
                <div class="col-12 col-lg-10 text-center mx-auto">
                    <nav class="navbar navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-big" aria-controls="nav-big" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse" id="nav-big">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item mr-4">
                                    <a href="#aboutme"><h4 class="heading">About me</h4></a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a href="#skills"><h4 class="heading">Skills</h4></a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a href="#edu"><h4 class="heading">Education & Work</h4></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#port"><h4 class="heading">Portfolio</h4></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <div class="row no-gutters main-content px-2 px-md-0">
            <div class="col-12">
                <div class="row no-gutters"> <!-- Image -->
                    <div class="col-12 col-md-10 mx-auto text-center image-container">
                        <img src="../static/media/MyPhoto.png" alt="Temporary Image" class="my-photo">
                        <div class="center-left">
                            <h2 class="heading job-title"><strong>Architect</strong></h2>
                        </div>
                        <div class="center-right">
                            <h2 class="heading job-title"><strong>Developer</strong></h2>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters mt-5"> 
                    <div class="col-12">
                        <div class="row no-gutters mb-4 section-title" id="aboutme"> <!-- About Me -->
                            <div class="col-10 text-center mx-auto">
                                <h4 class="heading m-0"><u>About Me</u></h4>
                            </div>
                        </div>
                        <div class="row no-gutters mb-5 justify-content-center section-content">
                            <div class="col-4 col-md-3 col-lg-2">
                                <p class="mt-5">Football enthusiast<br>
                                    Oil painting novice<br>
                                    Book lover<br>
                                    Music fan<br>
                                    Amateur gamer</p>
                            </div>
                            <div class="col-8 col-md-5 col-lg-4 pl-4">
                                <p>
                                    I am a Portuguese architect and full stack developer now living in Stockholm. After highschool I decided I wanted to enroll in an architectural school and invest in my love for this field. Almost as soon as I finnished and presented my master theasis I moved from Lisbon to Stockholm with my boyfriend and started working as an architectural freelance here. However, last year I found a new passion: programming, and decided to change career. I still very much love architecture, but I simply discovered that I love programming more and so I enrolled in Code Institute's Full Stack diploma. Now, after finnishing the diploma I am super eager to start my new career and to keep learning and developing my programming skills.
                                    <br>
                                    Comming from an architectural background I am a very creative person with knowledge of design tools that can be relevant and a good asset in my future as a programmer. I am also a very social, dedicated and hard-working person, with a good sense a responsability and always willing, even eager, to learn more and more.
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters mb-4 section-title" id="skills"> <!-- Skills -->
                            <div class="col-10 text-center mx-auto">
                                <h4 class="heading m-0"><u>Skills</u></h4>
                            </div>
                        </div>
                        <div class="row no-gutters mb-5 justify-content-center section-content">
                            <div class="col-4 col-md-3 col-lg-2">
                                <button class="p-0 mb-2 d-block skill-btn personal"><h6 class="mb-0 heading text-center">Personal</h6></button>
                                <button class="p-0 mb-2 d-block skill-btn language"><h6 class="mb-0 heading text-center">Language</h6></button>
                                <button class="p-0 mb-2 d-block skill-btn programming"><h6 class="mb-0 heading text-center">Programming</h6></button>
                                <button class="p-0 mb-2 d-block skill-btn design"><h6 class="mb-0 heading text-center">Design</h6></button>
                                <button class="p-0 mb-2 d-block skill-btn architecture"><h6 class="mb-0 heading text-center">Architecture</h6></button>
                            </div>
                            <div class="col-8 col-md-5 col-lg-4 pl-4" id="personal">
                                <ul class="list-unstyled">
                                    <li class="mb-1">Creativity</li>
                                    <li class="mb-1">Teamwork</li>
                                    <li class="mb-1">Perseverance</li>
                                    <li class="mb-1">Dedication</li>
                                    <li class="mb-1">Not afraid of taking chances</li>
                                    <li class="mb-1">Ability to accept constructive criticism</li>
                                </ul>
                            </div>
                            <div class="col-8 col-md-5 col-lg-4 pl-4 hidden" id="language">
                                <ul class="list-unstyled">
                                    <li class="mb-1">Native in Portuguese</li>
                                    <li class="mb-1">C2 in English</li>
                                    <li class="mb-1">B2 in Spanish</li>
                                    <li class="mb-1">Beginner in Swedish</li>
                                </ul>
                            </div>
                            <div class="col-8 col-md-5 col-lg-4 pl-4 hidden" id="programming">
                                <ul class="list-unstyled">
                                    <li class="mb-1">HTML</li>
                                    <li class="mb-1">CSS</li>
                                    <li class="mb-1">JavaScript</li>
                                    <li class="mb-1">Bootstrap</li>
                                    <li class="mb-1">jQuery</li>
                                    <li class="mb-1">Python</li>
                                    <li class="mb-1">Flask</li>
                                    <li class="mb-1">Django</li>
                                    <li class="mb-1">MongoDB</li>
                                    <li class="mb-1">PostgreSQL</li>
                                    <li class="mb-1">Heroku</li>
                                    <li class="mb-1">AWS</li>
                                    <li class="mb-1">Version Control - Git</li>
                                </ul>
                            </div>
                            <div class="col-8 col-md-5 col-lg-4 pl-4 hidden" id="design">
                                <ul class="list-unstyled">
                                    <li class="mb-1">Adobe Photoshop</li>
                                    <li class="mb-1">Adobe InDesign</li>
                                    <li class="mb-1">Adobe Illustrator</li>
                                </ul>
                            </div>
                            <div class="col-8 col-md-5 col-lg-4 pl-4 hidden" id="architecture">
                                <ul class="list-unstyled">
                                    <li>AutoCad</li>
                                    <li>ArchiCad</li>
                                    <li>SketchUp</li>
                                    <li>V-Ray</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row no-gutters mb-4 section-title" id="edu"> <!-- Education & Work History -->
                            <div class="col-10 text-center mx-auto">
                                <h4 class="heading m-0"><u>Education & Work</u></h4>
                            </div>
                        </div>
                        <div class="row no-gutters mb-5 section-content">
                            <div class="col">
                                <div class="row no-gutters w-100 justify-content-center">
                                    <div class="col-4 col-md-3 col-lg-2">
                                        <p class="d-block h-100 m-0 pb-3 pl-3 pt-2 timeline-item">February 2020 - Present</p>
                                    </div>
                                    <div class="col-8 col-md-5 col-lg-4 pl-4">
                                        <p class="h-100 m-0 pb-3 pt-2 d-block">Receptionist at Head Office AB</p>
                                    </div>
                                </div>
                                <div class="row no-gutters w-100 justify-content-center">
                                    <div class="col-4 col-md-3 col-lg-2">
                                        <p class="d-block h-100 m-0 pb-3 pl-3 pt-2 timeline-item">October 2019 - October 2020</p>
                                    </div>
                                    <div class="col-8 col-md-5 col-lg-4 pl-4">
                                        <p class="h-100 m-0 pb-3 pt-2 d-block">Diploma in Full Stack Web Development in Code Institute</p>
                                    </div>
                                </div>
                                <div class="row no-gutters w-100 justify-content-center">
                                    <div class="col-4 col-md-3 col-lg-2">
                                        <p class="d-block h-100 m-0 pb-3 pl-3 pt-2 timeline-item">May 2018 - February 2020</p>
                                    </div>
                                    <div class="col-8 col-md-5 col-lg-4 pl-4">
                                        <p class="h-100 m-0 pb-3 pt-2 d-block">Freelance Architect</p>
                                    </div>
                                </div>
                                <div class="row no-gutters w-100 justify-content-center">
                                    <div class="col-4 col-md-3 col-lg-2">
                                        <p class="d-block h-100 m-0 pb-3 pl-3 pt-2 timeline-item">September 2017 - April 2018</p>
                                    </div>
                                    <div class="col-8 col-md-5 col-lg-4 pl-4">
                                        <p class="h-100 m-0 pb-3 pt-2 d-block">Tutor at Pontos nos Is</p>
                                    </div>
                                </div>
                                <div class="row no-gutters w-100 justify-content-center">
                                    <div class="col-4 col-md-3 col-lg-2">
                                        <p class="d-block h-100 m-0 pb-3 pl-3 pt-2 timeline-item">September 2015 - July 2017</p>
                                    </div>
                                    <div class="col-8 col-md-5 col-lg-4 pl-4">
                                        <p class="h-100 m-0 pb-3 pt-2 d-block">Master in Architecture in Faculty of Architecture of the University of Lisbon</p>
                                    </div>
                                </div>
                                <div class="row no-gutters w-100 justify-content-center">
                                    <div class="col-4 col-md-3 col-lg-2">
                                        <p class="d-block h-100 m-0 pb-3 pl-3 pt-2 timeline-item">September 2014 - April 2018</p>
                                    </div>
                                    <div class="col-8 col-md-5 col-lg-4 pl-4">
                                        <p class="h-100 m-0 pb-3 pt-2 d-block">Summer Camp Coordinator at Aventura Radical</p>
                                    </div>
                                </div>
                                <div class="row no-gutters w-100 justify-content-center">
                                    <div class="col-4 col-md-3 col-lg-2">
                                        <p class="d-block h-100 m-0 pb-3 pl-3 pt-2 timeline-item">April 2014 - September 2014</p>
                                    </div>
                                    <div class="col-8 col-md-5 col-lg-4 pl-4">
                                        <p class="h-100 m-0 pb-3 pt-2 d-block">Summer Camp Monitor at Aventura Radical</p>
                                    </div>
                                </div>
                                <div class="row no-gutters w-100 justify-content-center">
                                    <div class="col-4 col-md-3 col-lg-2">
                                        <p class="d-block h-100 m-0 pb-3 pl-3 pt-2 timeline-item">September 2012 - July 2015</p>
                                    </div>
                                    <div class="col-8 col-md-5 col-lg-4 pl-4">
                                        <p class="h-100 m-0 pb-3 pt-2 d-block">Degree in Architecture in Faculty of Architecture of the University of Lisbon</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters mb-4 section-title" id="port"> <!-- Portfolio -->
                            <div class="col-10 text-center mx-auto">
                                <h4 class="heading m-0"><u>Portfolio</u></h4>
                            </div>
                        </div>
                        <div class="row no-gutters mb-3 section-content">
                            <div class="col">
                                <div class="row no-gutters px-md-4 justify-content-center">
                                    <div class="col-12 col-md-10 pt-3 text-center">
                                        <a href="https://sweet-magic.herokuapp.com/" target="_blank">
                                            <h5 class="heading">SweetMagic</h5>
                                        </a>
                                        <p>Full Stack Web Development Project</p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 pb-4 justify-content-center">
                                    <div class="col-6 col-md-5 pr-3 pr-md-5 border-line">
                                        <p>
                                            This was my 4th and final project for Code Institute's diploma. It is an e-commerce website for a friend's bakery.
                                            <br>
                                            Technologies used: HTML, CSS, Bootstrap, JavaScript, jQuery, Python, Django, Stripe, PostgreSQL, AWS, Git and Heroku
                                            <br>
                                            To view te GitHub repository for this project please click <a href="https://github.com/MarianaPereira23/SweetMagic" target="_blank"><u>here</u></a>.
                                        </p>
                                    </div>
                                    <div class="col-6 col-md-5">
                                        <a href="https://sweet-magic.herokuapp.com/" target="_blank">
                                            <span class="vertical"></span><img src="../static/media/Milestone4.png" alt="Temporary Image" class="pl-3 pl-md-5 project-photo">
                                        </a>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 justify-content-center">
                                    <div class="col-12 col-md-10 pt-3 text-center">
                                        <a href="https://libris-project.herokuapp.com/" target="_blank">
                                            <h5 class="heading">Libris</h5>
                                        </a>
                                        <p>Full Stack Web Development Project</p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 pb-4 justify-content-center">
                                    <div class="col-6 col-md-5 border-line">
                                        <a href="https://libris-project.herokuapp.com/" target="_blank">
                                            <span class="vertical"></span><img src="../static/media/Milestone3.png" alt="Temporary Image" class="pr-3 pr-md-5 project-photo">
                                        </a>
                                    </div>
                                    <div class="col-6 col-md-5 pl-3 pl-md-5">
                                        <p>
                                            This was my 3rd project for Code Institute's diploma. It is a book review website where any user can add, edit and delete books, as well as write a review for them.
                                            <br>
                                            Technologies used: HTML, CSS, Bootstrap, JavaScript, jQuery, Python, Flask, MongoDB, Leaflet API, Git and Heroku
                                            <br>
                                            To view te GitHub repository for this project please click <a href="https://github.com/MarianaPereira23/libris" target="_blank"><u>here</u></a>.
                                        </p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 justify-content-center">
                                    <div class="col-12 col-md-10 pt-3 text-center">
                                        <a href="https://marianapereira23.github.io/Discovering-Portugal/" target="_blank">
                                            <h5 class="heading">Discovering Portugal</h5>
                                        </a>
                                        <p>Full Stack Web Development Project</p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 pb-4 justify-content-center">
                                    <div class="col-6 col-md-5 pr-3 pr-md-5 border-line">
                                        <p>
                                            This was my 2nd project for Code Institute's diploma. It is a website with travel suggestions for any user interested in discovering Portugal.
                                            <br>
                                            Technologies used: HTML, CSS, Bootstrap, JavaScript, jQuery, Leaflet API, Git and GitHub Pages
                                            <br>
                                            To view te GitHub repository for this project please click <a href="https://github.com/MarianaPereira23/Discovering-Portugal" target="_blank"><u>here</u></a>.
                                        </p>
                                    </div>
                                    <div class="col-6 col-md-5">
                                        <a href="https://marianapereira23.github.io/Discovering-Portugal/" target="_blank">
                                            <span class="vertical"></span><img src="../static/media/Milestone2.png" alt="Temporary Image" class="pl-3 pl-md-5 project-photo">
                                        </a>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 justify-content-center">
                                    <div class="col-12 col-md-10 pt-3 text-center">
                                        <a href="https://marianapereira23.github.io/myresume/" target="_blank">
                                            <h5 class="heading">My Resumé</h5>
                                        </a>
                                        <p>Full Stack Web Development Project</p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 pb-4 justify-content-center">
                                    <div class="col-6 col-md-5 border-line">
                                        <a href="https://marianapereira23.github.io/myresume/" target="_blank">
                                            <span class="vertical"></span><img src="../static/media/Milestone1.png" alt="Temporary Image" class="pr-3 pr-md-5 project-photo">
                                        </a>
                                    </div>
                                    <div class="col-6 col-md-5 pl-3 pl-md-5">
                                        <p>
                                            This was my 1st project for Code Institute's diploma. It is my first online Cv and Portfolio, now out of date and replaced with this one.
                                            <br>
                                            Technologies used: HTML, CSS, Bootstrap, Git and GitHub Pages
                                            <br>
                                            To view te GitHub repository for this project please click <a href="https://github.com/MarianaPereira23/myresume" target="_blank"><u>here</u></a>.
                                        </p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 justify-content-center">
                                    <div class="col-12 col-md-10 pt-3 text-center">
                                        <h5 class="heading">Palace of the Rose</h5>
                                        <p>Architectural Project</p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 pb-4 justify-content-center">
                                    <div class="col-6 col-md-5 pr-3 pr-md-5 border-line">
                                        <p>
                                            This was my Architectural Master Theasis project. It is the sustainable renovation of an old, abandoned Palace in the heart of Lisbon and its convertion into a Charm Hotel
                                            <br>
                                            Technologies used: Archicad, AutoCad, SketchUp, V-Ray, Adobe Photoshop and Adobe Illustrator
                                        </p>
                                    </div>
                                    <div class="col-6 col-md-5">
                                        <span class="vertical"></span><img src="../static/media/PalaceRose.png" alt="Temporary Image" class="pl-3 pl-md-5 project-photo">
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 justify-content-center">
                                    <div class="col-12 col-md-10 pt-3 text-center">
                                        <h5 class="heading">Hotel Descobrimentos</h5>
                                        <p>Architectural Project</p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 pb-4 justify-content-center">
                                    <div class="col-6 col-md-5 border-line">
                                        <span class="vertical"></span><img src="../static/media/Descobrimentos.png" alt="Temporary Image" class="pr-3 pr-md-5 project-photo">
                                    </div>
                                    <div class="col-6 col-md-5 pl-3 pl-md-5">
                                        <p>
                                            This was one of the projects I did during my Architectural studies. It regards the construction of a totally new hotel in Belém, Lisbon
                                            <br>
                                            Technologies used: Archicad, AutoCad, SketchUp, V-Ray, Adobe Photoshop and Adobe Illustrator
                                        </p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 justify-content-center">
                                    <div class="col-12 col-md-10 pt-3 text-center">
                                        <h5 class="heading">Housing in Entrecampos</h5>
                                        <p>Architectural Project</p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 pb-4 justify-content-center">
                                    <div class="col-6 col-md-5 pr-3 pr-md-5 border-line">
                                        <p>
                                            This was one of the projects I did during my Architectural studies. It regards the construction of a new housing building in the center of Lisbon
                                            <br>
                                            Technologies used: Archicad, AutoCad, SketchUp, V-Ray, Adobe Photoshop and Adobe Illustrator
                                        </p>
                                    </div>
                                    <div class="col-6 col-md-5">
                                        <span class="vertical"></span><img src="../static/media/Entrecampos.png" alt="Temporary Image" class="pl-3 pl-md-5 project-photo">
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 justify-content-center">
                                    <div class="col-12 col-md-10 pt-3 text-center">
                                        <h5 class="heading">Crismina Concert Hall</h5>
                                        <p>Architectural Project</p>
                                    </div>
                                </div>
                                <div class="row no-gutters px-md-4 pb-2 justify-content-center">
                                    <div class="col-6 col-md-5 pr-2 border-line">
                                        <span class="vertical"></span><img src="../static/media/Crismina.png" alt="Temporary Image" class="pr-3 pr-md-5 project-photo">
                                    </div>
                                    <div class="col-6 col-md-5 pl-3 pl-md-5">
                                        <p>
                                            This was my first project for my Architectural studies. It regards the construction concert hall in an abandoned seaside military fort near Lisbon
                                            <br>
                                            Technologies used: Archicad and AutoCad
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var offset = 200;

                $('.nav-item a').click(function(event) {
                    event.preventDefault();
                    $($(this).attr('href'))[0].scrollIntoView();
                    scrollBy(0, -offset);
                });

                $(".personal").click(function(){
                    $("#personal").removeClass('hidden');
                    $("#language").addClass('hidden');
                    $("#programming").addClass('hidden');
                    $("#design").addClass('hidden');
                    $("#architecture").addClass('hidden');
                });
                $(".language").click(function(){
                    $("#language").removeClass('hidden');
                    $("#personal").addClass('hidden');
                    $("#programming").addClass('hidden');
                    $("#design").addClass('hidden');
                    $("#architecture").addClass('hidden');
                });
                $(".programming").click(function(){
                    $("#programming").removeClass('hidden');
                    $("#personal").addClass('hidden');
                    $("#language").addClass('hidden');
                    $("#design").addClass('hidden');
                    $("#architecture").addClass('hidden');
                });
                $(".design").click(function(){
                    $("#design").removeClass('hidden');
                    $("#personal").addClass('hidden');
                    $("#language").addClass('hidden');
                    $("#programming").addClass('hidden');
                    $("#architecture").addClass('hidden');
                });
                $(".architecture").click(function(){
                    $("#architecture").removeClass('hidden');
                    $("#personal").addClass('hidden');
                    $("#language").addClass('hidden');
                    $("#programming").addClass('hidden');
                    $("#design").addClass('hidden');
                });
            });
            language
        </script>

    </body>
</html>