<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <title>Mariana Pereira</title>
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="200">

        <header class="container-fluid fixed-top p-0">
            <div class="row no-gutters my-4">
                <div class="col-2 d-md-none"> <!-- Toggled navbar -->
                    <nav class="navbar navbar-expand-md p-0 ml-3">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-small" aria-controls="nav-small" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars my-icon"></i></span>
                        </button>
                        <div class="collapse navbar-collapse" id="nav-small">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item mr-4">
                                    <a href="#aboutme"><h5 class="heading">About me</h5></a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a href="#skills"><h5 class="heading">Skills</h5></a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a href="#edu"><h5 class="heading">Education & Work History</h5></a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a href="#port"><h5 class="heading">Portfolio</h5></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-5 col-md-4 offset-md-4 text-md-center"> <!-- Logo -->
                    <a href="#"><h1 class="logo m-0">Mariana</h1></a>
                </div>
                <div class="col-5 col-md-4 text-right text-md-center"> <!-- Contact links -->
                    <ul class="list-inline list-unstyled mr-3 mr-md-0 mb-0">
                        <li class="list-inline-item mr-2 mr-md-4">
                            <a href="mailto:mariana.c.pereira.23@hotmail.com" target="_blank"><i class="fas fa-envelope my-icon"></i></a>
                        </li>
                        <li class="list-inline-item mr-2 mr-md-4">
                            <a href="https://www.linkedin.com/in/mariana-pereira-5b3851156/" target="_blank"><i class="fab fa-linkedin-in my-icon"></i></a>
                        </li>
                        <li class="list-inline-item mr-2 mr-md-4">
                            <a href="https://github.com/MarianaPereira23" target="_blank"><i class="fab fa-github my-icon"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="../static/media/MarianaPereiraCV.pdf" target="_blank"><i class="fas fa-file-download my-icon"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row no-gutters d-none d-md-block mb-4"> <!-- Navbar on bigger screens -->
                <div class="col-10 text-center mx-auto">
                    <nav class="navbar navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-big" aria-controls="nav-big" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse" id="nav-big">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item mr-4">
                                    <a href="#aboutme"><h4 class="heading">About me</h4></a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a href="#skills"><h4 class="heading">Skills</h4></a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a href="#edu"><h4 class="heading">Education & Work History</h4></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#port"><h4 class="heading">Portfolio</h4></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <div class="container-fluid main-content">
            <div class="row no-gutters"> <!-- Image -->
                <div class="col-12 col-md-10 mx-auto text-center image-container">
                    <img src="../static/media/temporary.jpg" alt="Temporary Image" class="my-photo">
                        <div class="center-left">
                            <h2 class="heading job-title"><strong>Architect</strong></h2>
                        </div>
                        <div class="center-right">
                            <h2 class="heading job-title"><strong>Developer</strong></h2>
                        </div>
                </div>
            </div>
            <div class="row no-gutters mt-5"> 
                <div class="col-12">
                    <div class="row no-gutters mb-4 section-title" id="aboutme"> <!-- About Me -->
                        <div class="col-10 text-center mx-auto">
                            <h4 class="heading m-0">About Me</h4>
                        </div>
                    </div>
                    <div class="row no-gutters mb-5 justify-content-center section-content">
                        <div class="col-4 col-md-3 col-lg-2 pr-4">
                            <p class="mt-5">Morbi nec magna at urna feugiat pharetra quis finibus quam. Praesent tincidunt eget elit quis fringilla. Sed ornare condimentum porttitor. Suspendisse sit amet urna in magna rhoncus mollis.</p>
                        </div>
                        <div class="col-8 col-md-5 col-lg-4">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet erat faucibus nisi eleifend fringilla sit amet venenatis erat. Quisque convallis quam tincidunt tristique tempus. Morbi vitae libero in sem ultricies gravida vitae vel orci. Mauris quam metus, ornare at tincidunt non, ornare eu nibh. Praesent hendrerit ut purus a imperdiet. Phasellus venenatis vehicula ipsum sed semper. Nunc a quam sit amet mauris convallis efficitur. In eros leo, convallis in rutrum eget, ultrices sed lacus. Etiam ac libero mattis, efficitur nunc nec, mollis ligula. Ut feugiat, nibh sit amet congue facilisis, nunc nisl gravida ante, eget dignissim nisi metus vel nulla. Nam aliquet arcu porttitor, maximus diam eu, dapibus sem. Ut mollis augue ut nisl blandit accumsan. Maecenas vel lectus hendrerit, viverra lacus nec, sagittis orci.</p>
                        </div>
                    </div>
                    <div class="row no-gutters mb-4 section-title" id="skills"> <!-- Skills -->
                        <div class="col-10 text-center mx-auto">
                            <h4 class="heading m-0">Skills</h4>
                        </div>
                    </div>
                    <div class="row no-gutters mb-5 justify-content-center section-content">
                        <div class="col-4 col-md-3 col-lg-2 pr-4">
                            <button class="p-0 mb-2 d-block skill-btn personal"><h6 class="mb-0 heading text-center">Personal</h6></button>
                            <button class="p-0 mb-2 d-block skill-btn language"><h6 class="mb-0 heading text-center">Language</h6></button>
                            <button class="p-0 mb-2 d-block skill-btn programming"><h6 class="mb-0 heading text-center">Programming</h6></button>
                            <button class="p-0 mb-2 d-block skill-btn design"><h6 class="mb-0 heading text-center">Design</h6></button>
                            <button class="p-0 mb-2 d-block skill-btn architecture"><h6 class="mb-0 heading text-center">Architecture</h6></button>
                        </div>
                        <div class="col-8 col-md-5 col-lg-4" id="personal">
                            <ul class="list-unstyled">
                                <li class="mb-1">Creativity</li>
                                <li class="mb-1">Teamwork</li>
                                <li class="mb-1">Perseverance</li>
                                <li class="mb-1">Dedication</li>
                                <li class="mb-1">Not afraid of taking chances</li>
                                <li class="mb-1">Ability to accept constructive criticism</li>
                            </ul>
                        </div>
                        <div class="col-8 col-md-5 col-lg-4 hidden" id="language">
                            <ul class="list-unstyled">
                                <li class="mb-1">Native in Portuguese</li>
                                <li class="mb-1">C2 in English</li>
                                <li class="mb-1">B2 in Spanish</li>
                                <li class="mb-1">Beginner in Swedish</li>
                            </ul>
                        </div>
                        <div class="col-8 col-md-5 col-lg-4 hidden" id="programming">
                            <ul class="list-unstyled">
                                <li class="mb-1">HTML</li>
                                <li class="mb-1">CSS</li>
                                <li class="mb-1">JavaScript</li>
                                <li class="mb-1">Bootstrap</li>
                                <li class="mb-1">jQuery</li>
                                <li class="mb-1">Python</li>
                                <li class="mb-1">Flask</li>
                                <li class="mb-1">Django</li>
                                <li class="mb-1">MongoDB</li>
                                <li class="mb-1">PostgreSQL</li>
                                <li class="mb-1">Heroku</li>
                                <li class="mb-1">AWS</li>
                                <li class="mb-1">Version Control - Git</li>
                            </ul>
                        </div>
                        <div class="col-8 col-md-5 col-lg-4 hidden" id="design">
                            <ul class="list-unstyled">
                                <li class="mb-1">Adobe Photoshop</li>
                                <li class="mb-1">Adobe InDesign</li>
                                <li class="mb-1">Adobe Illustrator</li>
                            </ul>
                        </div>
                        <div class="col-8 col-md-5 col-lg-4 hidden" id="architecture">
                            <ul class="list-unstyled">
                                <li>AutoCad</li>
                                <li>ArchiCad</li>
                                <li>SketchUp</li>
                                <li>V-Ray</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row no-gutters mb-4 section-title" id="edu"> <!-- Education & Work History -->
                        <div class="col-10 text-center mx-auto">
                            <h4 class="heading m-0">Education & Work History</h4>
                        </div>
                    </div>
                    <div class="row no-gutters mb-5 justify-content-center section-content">
                        <div class="col-4 col-md-3 col-lg-2 history pr-4">
                            <p class="d-block m-0 pb-3 pl-3 pt-2 timeline-item">February 2020 - Present</p>
                            <p class="d-block m-0 pb-3 pl-3 pt-2 timeline-item">October 2019 - October 2020</p>
                            <p class="d-block m-0 pb-3 pl-3 pt-2 timeline-item">May 2018 - February 2020</p>
                            <p class="d-block m-0 pb-3 pl-3 pt-2 timeline-item">September 2017 - April 2018</p>
                            <p class="d-block m-0 pb-3 pl-3 pt-2 timeline-item">September 2015 - July 2017</p>
                            <p class="d-block m-0 pb-3 pl-3 pt-2 timeline-item">September 2014 - April 2018</p>
                            <p class="d-block m-0 pb-3 pl-3 pt-2 timeline-item">April 2014 - September 2014</p>
                            <p class="d-block m-0 pb-3 pl-3 pt-2 timeline-item">September 2012 - July 2015</p>
                        </div>
                        <div class="col-8 col-md-5 col-lg-4">
                            <p class="m-0 pb-3 pt-2 d-block">Receptionist at Head Office AB</p>
                            <p class="m-0 pb-3 pt-2 d-block">Diploma in Full Stack Web Development in Code Institute</p>
                            <p class="m-0 pb-3 pt-2 d-block">Freelance Architect</p>
                            <p class="m-0 pb-3 pt-2 d-block">Tutor at Pontos nos Is</p>
                            <p class="m-0 pb-3 pt-2 d-block">Master in Architecture in Faculty of Architecture of the University of Lisbon</p>
                            <p class="m-0 pb-3 pt-2 d-block">Summer Camp Coordinator at Aventura Radical</p>
                            <p class="m-0 pb-3 pt-2 d-block">Summer Camp Monitor at Aventura Radical</p>
                            <p class="m-0 pb-3 pt-2 d-block">Degree in Architecture in Faculty of Architecture of the University of Lisbon</p>
                        </div>
                    </div>
                    <div class="row no-gutters mb-4 section-title" id="port"> <!-- Portfolio -->
                        <div class="col-10 text-center mx-auto">
                            <h4 class="heading m-0">Portfolio</h4>
                        </div>
                    </div>
                    <div class="row no-gutters mb-5 justify-content-center section-content">
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".personal").click(function(){
                    $("#personal").removeClass('hidden');
                    $("#language").addClass('hidden');
                    $("#programming").addClass('hidden');
                    $("#design").addClass('hidden');
                    $("#architecture").addClass('hidden');
                });
                $(".language").click(function(){
                    $("#language").removeClass('hidden');
                    $("#personal").addClass('hidden');
                    $("#programming").addClass('hidden');
                    $("#design").addClass('hidden');
                    $("#architecture").addClass('hidden');
                });
                $(".programming").click(function(){
                    $("#programming").removeClass('hidden');
                    $("#personal").addClass('hidden');
                    $("#language").addClass('hidden');
                    $("#design").addClass('hidden');
                    $("#architecture").addClass('hidden');
                });
                $(".design").click(function(){
                    $("#design").removeClass('hidden');
                    $("#personal").addClass('hidden');
                    $("#language").addClass('hidden');
                    $("#programming").addClass('hidden');
                    $("#architecture").addClass('hidden');
                });
                $(".architecture").click(function(){
                    $("#architecture").removeClass('hidden');
                    $("#personal").addClass('hidden');
                    $("#language").addClass('hidden');
                    $("#programming").addClass('hidden');
                    $("#design").addClass('hidden');
                });
            });
            language
        </script>

    </body>
</html>